<%= stylesheet_link_tag 'likelion'%>


<header >
    <div class="container">
    <!--<div class="header">-->
        <!--<h1><span class:joname>Number.5</span> <span class="header_home">HOME</span> <span class="header_member">MEMBER</span></h1>-->
        <div >
            Likelion page
        </div>
        <nav class="navbar">
            <ul>
                <li><a href = "#">Home</a></li>
                <li><a href = "#">Member</a></li>
                <li><a href = "#">When</a></li>
            </ul>
        </nav>
    </div>
  
</header>


<!--section1 -->
<section>
    <div class="section1">
        <div class="container">
            <div class="weare" style="padding-bottom: 20px">
              <h2>HACK YOUR LIFE <br>WITH Team.5</h2>
            </div>
            <center>
            <div class="weare2" style="padding-bottom: 30px">
              <p>SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI </p>
              
            </div>
            <button class="button" style="padding-top: 20px">
                    <a onclick="myFunction_finish()">Reload </a>
                </button>
            </center>
        </div>
    </div>
</section>


<section2> 
<section class = "section2">
    <div>
        <article>
          <img src="http://i.imgur.com/x75FLLk.jpg" width="300" height="250">
          <h2>김광훈</h2>
          <br>
          <p>엄청난 파워로 디버그해버린다. 뿜뿜!</p>
        </article>
    </div>
    <div>
        <article>
          <img src="http://i.imgur.com/i4auY71.png" width="300" height="250">
        <h2>나상경</h2>
        <br>
        <p>엄청난 피지컬로 꾸며버린다. 얍얍!</p>
        </article>
    </div>
    <div>
        <article>
          <img src="http://i.imgur.com/sAjBMYB.jpg" width="300" height="250">
        <h2>김경호</h2>
        <br>
        <p>엄청난 탑승으로 버스타버린다. 부릉!</p>
        </article>
    </div>
    
</section>



<footer>
    <div id ="footer_text">
        2017.07.02 5조
    </div>
    
    
</footer>
        
        

</div>

<a onclick="myFunction_finish()" href="#" style="font-size:23px; color:white;">
    <i class="fa fa-hourglass-half fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
</a>

<script>
      function myFunction_finish() {
          var x;
          if (confirm("새로고침하기?") == true) {
              location.href = "/home/index";
          } else {
              location.href = "/home/index";
          }
      }
</script>
