<%= stylesheet_link_tag 'likelion'%>


<header>
    <!--<div class="header">-->
        <!--<h1><span class:joname>Number.5</span> <span class="header_home">HOME</span> <span class="header_member">MEMBER</span></h1>-->
        <div>
            Likelion page
        </div>
        <nav class="navbar">
            <ul>
                <li><a href = "#">Home</a></li>
                <li><a href = "#">Member</a></li>
                <li><a href = "#">When</a></li>
            </ul>
        </nav>
    <!--</div>-->
</header>


<!--section1 -->
<section>
    <div class="section1">
        <div class="container">
            <div class="weare">
              <h2>HACK YOUR LIFE <br>WITH Team.5</h2>
            </div>
            <div class="weare2">
              <p>    SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI 
                 <br>SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI
                 <br>SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI
                 <br>SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI SHIT WIFI
              </p>
            </div>
            
            
            <center>
                <button class=button>
                    <a onclick="myFunction_finish()">Button </a>
                </button>
            </center>
        </div>
    </div>
</section>


<section2> 
<section class = "section2">
    <div>
        <article>
          <h1>알티클1</h1>
        </article>
    </div>
    <div>
        <article>
          <h1>알티클2</h1>
        </article>
    </div>
    <div>
        <article>
          <h1>알티클3</h1>
        </article>
    </div>
    
</section>



<footer>
    <div id ="footer_text">
        2017.07.02 5조
    </div>
    
    
</footer>
        
        

</div>

<a onclick="myFunction_finish()" href="#" style="font-size:23px; color:white;">
    <i class="fa fa-hourglass-half fa-5x" aria-hidden="true" style="margin-bottom:5px;"></i>
    <p>test</p>
</a>

<script>
      function myFunction_finish() {
          var x;
          if (confirm("새로고침하기?") == true) {
              location.href = "/home/index";
          } else {
              location.href = "/home/index";
          }
      }
</script>